.Owner {
  font-weight: bold;
  color: #37b221;
  margin-right: 8px;
}

.Date {
  font-weight: lighter;
  color: #c1c1c5;
}

.Owner2 {
  font-weight: bold;
  color: #37b221;
}

.Date2 {
  font-weight: lighter;
  color: #c1c1c5;
  margin-right: 8px;
}
